<main class="w-full h-full ml-5">
    <section class="w-[75vw] flex flex-col gap-3 h-full">
        <div class="w-full flex items-center pl-2 h-20 rounded-xl bg-gradient-to-r from-[#4169E1] to-[#A9C8FF]">
            <h1 class="text-xl text-white font-semibold font-popins">Pendências</h1>
        </div>
        <div class="w-full flex flex-col gap-2">
            <h2 class="font-popins text-xl font-semibold">12/09</h2>
            <figure class="w-full p-2 flex items-center gap-2 bg-[#A9C8FF] bg-opacity-40 rounded-xl">
                <img class="w-14 h-14"  src="assets/scissor1.png" alt="tesoura">
                <div class="flex flex-col">
                    <span class="font-popins font-semibold">Corte</span>
                    <span class="font-popins font-semibold text-red-600">Prazo de entrega às 23h59</span>
                    <span class="font-popins font-light">Turma A</span>
                </div>
            </figure>

            <h2 class="font-popins text-xl font-semibold">17/09</h2>
            <figure class="w-full p-2 flex items-center gap-2 bg-[#A9C8FF] bg-opacity-40 rounded-xl">
                <img class="w-14 h-14"  src="assets/stitches1.png" alt="tesoura">
                <div class="flex flex-col">
                    <span class="font-popins font-semibold">Sutura</span>
                    <span class="font-popins font-semibold text-red-600">Prazo de entrega às 23h59</span>
                    <span class="font-popins font-light">Turma A</span>
                </div>
            </figure>

            <h2 class="font-popins text-xl font-semibold">20/09</h2>
            <figure class="w-full p-2 flex items-center gap-2 bg-[#A9C8FF] bg-opacity-40 rounded-xl">
                <img class="w-14 h-14"  src="assets/scissor1.png" alt="tesoura">
                <div class="flex flex-col">
                    <span class="font-popins font-semibold">Corte</span>
                    <span class="font-popins font-semibold text-red-600">Prazo de entrega às 23h59</span>
                    <span class="font-popins font-light">Turma A</span>
                </div>
            </figure>
        </div>
    </section>
</main>
