<main class="w-full h-full ml-5">
  <section class="w-[75vw]">
    <div class="w-full flex justify-between bg-gradient-to-r rounded-xl from-[#4169E1] to-[#2A52BE]">
      <div class="flex flex-col w-1/2 justify-between py-5 pl-10">
        <span class="text-sm text-white font-popins font-light">{{ currentDate | date: 'd \'de\' MMMM \',\' y' }}</span>
        <div>
          <h1 class="font-medium text-xl font-popins text-white">Bem vindo, John!</h1>
          <span class="text-sm font-popins text-white font-light">Esteja sempre atualizado no portal</span>
        </div>
      </div>
      <img src="assets/banner.png" alt="imagem de um estudante">
    </div>
  </section>
  <section class="w-[80vw] flex mt-10">
    <div class="w-3/5 flex flex-col gap-9">
      <div class="w-full flex flex-col gap-2">
        <h2 class="font-semibold">Gestão</h2>
        <div class="w-full flex gap-8">
          <figure class="w-40 h-40 rounded-xl transition-all cursor-pointer hover:border-4 hover:border-[#4169E1] flex flex-col justify-center items-center shadow-lg">
            <img src="assets/megaphone.png" alt="megafone">
            <caption class="relative top-4">Avisos</caption>
          </figure>
          <figure class="w-40 h-40 rounded-xl transition-all cursor-pointer hover:border-4 hover:border-[#4169E1] flex flex-col justify-center items-center shadow-lg">
            <img src="assets/alert-menu.png" alt="alerta">
            <caption class="relative -top-6">Pendências</caption>
          </figure>
          <figure class="w-40 h-40 rounded-xl transition-all cursor-pointer hover:border-4 hover:border-[#4169E1] flex flex-col justify-center items-center shadow-lg">
            <img src="assets/chart-menu.png" alt="grafico">
            <caption class="relative top-4">Progreso</caption>
          </figure>
        </div>
      </div>
      <div class="w-full flex flex-col gap-2">
        <h2 class="font-semibold">Proximos jogos</h2>
        <div class="w-full flex gap-8">
          <figure class="w-[16rem] h-32 rounded-xl bg-[#A9C8FF] bg-opacity-20 transition-all cursor-pointer hover:border-4 hover:border-[#4169E1] flex justify-between items-center shadow-lg px-1">
            <div class="flex flex-col justify-between items-center p-5">
              <span>Jogo A</span>
              <button class="w-28 p-1 text-white rounded-xl bg-[#4169E1]">Ver</button>
            </div>
            <img src="assets/computer.png" alt="computador">
          </figure>
          <figure class="w-[16rem] h-32 rounded-xl bg-[#A9C8FF] bg-opacity-20 transition-all cursor-pointer hover:border-4 hover:border-[#4169E1] flex justify-between items-center shadow-lg px-1">
            <div class="flex flex-col justify-between items-center p-5">
              <span>Jogo B</span>
              <button class="w-28 p-1 text-white rounded-xl bg-[#4169E1]">Ver</button>
            </div>
            <img src="assets/charts-game.png" alt="graficos">
          </figure>
        </div>
      </div>
    </div>
    <div class="w-1/5 flex flex-col gap-2">
      <h2 class="font-semibold">Instrutores</h2>
      <div class="w-full flex gap-2">
        <figure class="w-16 h-16">
          <img src="assets/instructor-female2.jpg" class="w-full h-full object-cover rounded-full border-4 border-[#4169E1]" alt="mulher">
        </figure>
        <figure class="w-16 h-16 rounded-full">
          <img src="assets/instructor-female1.jpg" class="w-full h-full object-cover rounded-full border-4 border-[#4169E1]" alt="mulher">
        </figure>
        <figure class="w-16 h-16 rounded-full">
          <img src="assets/instructor-male1.jpg" class="w-full h-full object-cover rounded-full border-4 border-[#4169E1]" alt="homem">
        </figure>
      </div>
      <div class="w-full flex justify-between">
        <span class="font-semibold">noticias</span>
        <a href="" class="text-[#4169E1] font-semibold">Ver mais</a>
      </div>
      <article class="shadow-lg p-2">
        <div class="flex flex-col gap-2">
          <h3 class="font-semibold font-popins">Prelim rent due</h3>
          <p class="font-popins opacity-35">Sorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="" class="text-[#4169E1] font-semibold">Ver mais</a>
        </div>
        <div>
          <h3 class="font-semibold font-popins">Exam schedule</h3>
          <p class="font-popins opacity-35">Norem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
          <a href="" class="text-[#4169E1] font-semibold">Ver mais</a>
        </div>
      </article>
    </div>
  </section>
</main>
