<main class="w-full h-screen flex">
  <section class="w-1/2 flex justify-end items-center gap-2">
    <div class="flex flex-col w-2/5 mr-14">
      <div class="flex justify-center">
        <img src="assets/vr.png" alt="oculos vr">
        <img src="assets/logo-fmusp.png" alt="oculos vr">
      </div>
      <div class="flex flex-col">
        <h3 class="text-gray-text">Bem vindo</h3>
        <h1 class="text-3xl">Portal do NV MVR</h1>
        <form [formGroup]="form" (ngSubmit)="login()" class="flex flex-col gap-2">
          <div class="flex flex-col">
            <label for="rm" class="text-sm font-login-label-input font-medium">RM</label>
            <input id="rm" class="p-1 rounded-lg bg-gray-input" type="text" formControlName="rm">
          </div>
          <div class="flex flex-col">
            <label for="passowrd" class="text-sm font-login-label-input font-medium">Senha</label>
            <div class="relative">
              <input id="passowrd" class="p-1 w-full rounded-lg bg-gray-input" [type]="!passwordVisibility ? 'password' : 'text'" formControlName="password">
              <button type="button" class="absolute top-[7px] right-1" (click)="togglePasswordVisibility()">
                <mat-icon class="text-sm">{{ !passwordVisibility ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </div>
          </div>
          <a href="" class="underline">Esqueceu a senha?</a>
          <button type="submit" class="bg-gray-login-button text-white p-2 rounded-xl">Login</button>
        </form>
      </div>
    </div>
  </section>
  <section class="w-1/2 flex items-center">
    <img src="assets/pattern-c.png" alt="">
  </section>
</main>
